<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td>Libelle operation: </td>
            <td>{{ operation.libelle_operation }}</td>
        </tr>
        <tr>
            <td>Date operation:</td>
            <td>{{ operation.date_operation }}</td>
        </tr>
        <tr>
            <td>Montant operation: </td>
            <td>{{ operation.somme_operation }}</td>
        </tr>
        <tr>
            <td>Ligne budgetaire concernée:</td>
            <td>{{ operation.ligne_budget }}</td>
        </tr>
        <tr>
            <td>Référence paiement:</td>
            <td>{{ operation.reference_paiement }}</td>
        </tr>
        <tr>
            <td>Soumission:</td>
            <td>{{ operation.soumission }}</td>
        </tr>
    </table>
</body>
</html>